#back-button-chart,
#home-session {
    border: 1px solid #3b3a3a;
    border-radius: 8px;
    background-color: transparent;
    color: #3b3a3a;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 10px;
    width: 200px;
}