.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  padding: 20px;
}

.title-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-div h2 {
  color: #02293B;
}

.App img {
  width: 160px;
}