.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.title-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-div h2 {
  color: #02293B;
  margin: 2px;
}

@media (max-width: 1440px) {
  .analiticSystem-div {
    height: 500px;
    margin-top: 5px;
    padding: 10px;
    width: 300px;
  }

  .App img {
    width: 180px;
  }

  .title-div h2 {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .analiticSystem-div {
    height: 450px;
  }

  .App img {
    width: 120px;
  }

  .title-div h2 {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .analiticSystem-div {
    height: 450px;
  }

  .App img {
    width: 120px;
  }

  .title-div h2 {
    font-size: 18px;
  }
}