.batch-record-div {
    display: flex;
    font-size: 10px;
}

.batch-record-div .register-button,.update-button {
    border-radius: 10px;
    margin: 2px;
    position: relative;
    top: 15px;
}

.batch-record-div .register-button {
    background-color: transparent;
    border: 1px solid #3b3a3a;
    color: #3b3a3a;
}

.batch-record-div .update-button {
    background-color: transparent;
    border: 1px solid #3b3a3a;
    color: #3b3a3a;
}

.update-button:hover {
    background-color: rgba(14, 196, 14, 0.603);
}

.register-button:hover {
    background-color: rgba(0, 0, 255, 0.596);
}

.links-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.links-div .link {
    width: 100px;
}

.links-div #back-button {
    border: 1px solid rgb(58, 56, 56);
    border-radius: 8px;
    background-color: transparent;
    margin: 2px;
    text-align: center;
    text-decoration: none;
}

.links-div #next-button {
    border: 1px solid blue;
    border-radius: 8px;
    background-color: transparent;
    margin: 2px;
    text-align: center;
    text-decoration: none;
}

.links-div #clear-button {
    border: 1px solid red;
    border-radius: 8px;
    background-color: transparent;
    margin: 2px;
    text-align: center;
    text-decoration: none;
}

#back-button:hover {
    background-color: rgba(0, 0, 0, 0.582);
    color: aliceblue;
}

#next-button:hover {
    background-color: rgba(0, 0, 255, 0.568);
    color: aliceblue;
}

#clear-button:hover {
    background-color: rgba(255, 0, 0, 0.596);
    color: aliceblue;
}

table {
    margin-top: 5px;
}

table th, td {
    text-align: center;
}

.edit-button, .delete-button {
    border: 0;
    border-radius: 10px;
    margin: 2px;
}

.edit-button {
    background-color: dimgray;
}

.delete-button {
    background-color: red;
}

#batch-date, #nivel1-result, #nivel2-result {
  text-align: center;
}

.links-div #back-button, .links-div #next-button, .links-div #clear-button, .batch-record .alert-next {
    border: 1px solid #3b3a3a;
    border-radius: 8px;
    background-color: transparent;
    color: #3b3a3a;
    text-align: center;
    text-decoration: none;
    position: relative;
}

#back-button:hover {
    background-color: rgba(0, 0, 0, 0.582);
    color: aliceblue;
}

#next-button:hover {
    background-color: rgba(0, 0, 255, 0.568);
    color: aliceblue;
}

#clear-button:hover {
    background-color: rgba(255, 0, 0, 0.596);
    color: aliceblue;
}

.batch-record .alert {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}

@media (max-width: 320px) {
  .batch-record {
    width: 100%;
  }

  .batch-record-div div {
    margin: 2px;
  }

  .batch-record-div .register-button,.update-button {
    font-size: 6px;
  }

  table th, td {
    font-size: 8px;
  }

  .edit-button, .delete-button {
    font-size: 6px;
  }

  [for="batch-date"] h6,
  [for="nivel1-result"] h6,
  [for="nivel2-result"] h6 {
    font-size: 12px;
  }

  #batch-date, #nivel1-result, #nivel2-result {
    font-size: 10px;
  }

  .batch-record .alert {
    font-size: 10px;
  }

  .links-div #back-button, .links-div #next-button, .links-div #clear-button, .batch-record .alert-next {
    font-size: 10px;
    width: 200px;
  }
}