.batch-record-div {
    display: flex;
    font-size: 12px;
}

.batch-record-div .register-button,.update-button {
    border-radius: 10px;
    font-size: 12px;
    margin: 2px;
    position: relative;
    top: 15px;
}

.batch-record-div .update-button {
    background-color: green;
    border: 0;
}

.links-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.links-div .link {
    width: 100px;
}

.links-div #back-button {
    border: 1px solid rgb(58, 56, 56);
    border-radius: 8px;
    background-color: transparent;
    margin: 2px;
    text-align: center;
    text-decoration: none;
}

.links-div #next-button {
    border: 1px solid blue;
    border-radius: 8px;
    background-color: transparent;
    margin: 2px;
    text-align: center;
    text-decoration: none;
}

.links-div #clear-button {
    border: 1px solid red;
    border-radius: 8px;
    background-color: transparent;
    margin: 2px;
    text-align: center;
    text-decoration: none;
}

#back-button:hover {
    background-color: rgba(0, 0, 0, 0.582);
    color: aliceblue;
}

#next-button:hover {
    background-color: rgba(0, 0, 255, 0.568);
    color: aliceblue;
}

#clear-button:hover {
    background-color: rgba(255, 0, 0, 0.596);
    color: aliceblue;
}

table {
    margin-top: 40px;
}

table th, td {
    font-size: 12px;
    text-align: center;
}

.edit-button, .delete-button {
    border: 0;
    border-radius: 10px;
    margin: 2px;
    font-size: 12px;
    width: 60px;
}

.edit-button {
    background-color: dimgray;
}

.delete-button {
    background-color: red;
}