.batch-record-div {
  display: flex;
  font-size: 10px;
}

.register-button,
.update-button {
  border-radius: 10px;
  margin: 2px;
  position: relative;
  top: 15px;
  background-color: transparent;
  border: 1px solid #3b3a3a;
  color: #3b3a3a;
}

.register-button:hover,
.update-button:hover {
  color: aliceblue;
}

.register-button:hover {
  background-color: rgba(0, 0, 255, 0.596);
}

.update-button:hover {
  background-color: rgba(14, 196, 14, 0.603);
}

.links-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link {
  width: 100px;
}

#back-button,
#next-button,
#clear-button {
  border: 1px solid;
  border-radius: 8px;
  background-color: transparent;
  margin: 2px;
  text-align: center;
  text-decoration: none;
}

#back-button:hover {
  background-color: rgba(0, 0, 0, 0.582);
}

#next-button:hover {
  background-color: rgba(0, 0, 255, 0.568);
}

#clear-button:hover {
  background-color: rgba(255, 0, 0, 0.596);
}

table {
  margin-top: 5px;
}

table th,
td {
  text-align: center;
}

.edit-button,
.delete-button {
  border: 0;
  border-radius: 10px;
  margin: 2px;
}

.edit-button {
  background-color: dimgray;
}

.delete-button {
  background-color: red;
}

#batch-date,
#nivel1-result,
#nivel2-result {
  text-align: center;
}

/* Estilos para dispositivos móveis */

@media screen and (max-width: 768px) {
  .batch-record-div {
      flex-direction: column;
      align-items: center;
      font-size: 8px;
  }

  .register-button,
  .update-button {
      top: 0;
  }

  .links-div {
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
  }

  .link {
      width: auto;
  }

  #back-button,
  #next-button,
  #clear-button {
      font-size: 8px;
      margin: 2px;
  }

  table {
      font-size: 8px;
  }

  .edit-button,
  .delete-button {
      margin: 2px;
      font-size: 8px;
  }
}
